@import 'bootstrap/scss/bootstrap';
body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f96b6a , #fc588c);
    margin-top:50px;
    margin-bottom: 50px;
}

img{
    max-width: 100%;
    height: auto;
}

.contentBg{
    background: #fff;
    padding:20px;
    .defaultInput{
        width: 100%;
        display: block;
        margin-bottom: 15px;
        border: none;
        -webkit-box-shadow: 0 0 4px #000;
        box-shadow: 0 0 4px #e8e8e8;
        padding: 5px 10px;
    }
    .defaultButt{
        background: linear-gradient(to right, #f96b6a , #fc588c);
        display: inline-block;
        -webkit-box-shadow: 0 0 4px #000;
        box-shadow: 0 0 4px #e8e8e8;
        font-size: 14px;
        color:#fff;
        width:30%;
        border-radius:0;
        margin-right: 2%;
    }
}