@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin:0;
    padding:0;
    font-family: 'robotoregular';
}

img{
    max-width: 100%;
    height: auto;
}
.contentCotainer{
    background: linear-gradient(to right, #f96b6a , #fc588c);
    margin-top:50px;
    margin-bottom: 50px;
}

    .loginBg{
        width:320px;
        padding:20px;
        background: linear-gradient(to right, #f96b6a , #fc588c);
        box-shadow: 0 0 20px #b9b9b9;
        margin: 50px auto 0;
        .logo{
            display: block;
            text-align: center;
            font-size: 36px;
            font-family: 'robotobold';
            padding: 65px 0;
            color: #fff;
        }
        .defaultButt{
            font-size: 24px;
            color:#373737;
            font-family: 'robotobold';
            border:none;
            background: #fff;
            padding:10px 0;
            border-radius: 4px;
            box-shadow: 0 0 8px #9c102b;
            width:100%;
            margin-bottom: 30px;
            cursor: pointer;
        }
        .loginBbutt{
            width: 85px;
            border: solid 1px #fff;
            padding: 3px 10px;
            font-size: 14px;
            color: #fff;
            font-family: 'robotobold';
            float: right;
            background: #fc598b;
            cursor: pointer;
        }
    }


.contentBg{
    background: #fff;
    padding:20px;
    .defaultInput{
        width: 100%;
        display: block;
        margin-bottom: 15px;
        border: none;
        -webkit-box-shadow: 0 0 4px #b9b9b9;
        box-shadow: 0 0 4px #b9b9b9;
        padding: 7px 10px 6px;
        border-radius:0;
    }
    .defaultButt{
        background: linear-gradient(to right, #f96b6a , #fc588c);
        display: inline-block;
        -webkit-box-shadow: 0 0 4px #b9b9b9;
        box-shadow: 0 0 4px #b9b9b9;
        font-size: 14px;
        color:#fff;
        width:30%;
        border-radius:0;
        margin-right: 2%;
        border:none;
        padding: 6px 0;
        @media screen and (max-width:414px) {
            margin-bottom: 25px; 
            min-width: 100px;
        }        
    }
    .totalBar{
        background: #f0f0f0;
        font-family: 'robotobold';
        margin-bottom: 20px;
        .totalTxt{
            width:50%;
            display:inline-block;
            font-size: 16px;
            color:#fb617b;
            padding: 7px 10px 5px;
        }
    }
    .table thead th{
        font-family: 'robotobold';
        vertical-align: bottom;
        border-bottom: 1px solid #dee2e6;
        background: #fb5a88;
        font-size: 16px;
        color:#fff;
        padding: 8px 10px;
        @media screen and (max-width:414px) {
            font-size: 13px; 
        }         
    }
    .table td{
        font-size: 12px;
        color:#7f7f7f;
        font-family: 'robotoregular';
        padding: 6px 10px;
        .buttBg{
            background: #ff3758;
            border: none;
            cursor: pointer;
            font-family: 'robotoregular';
            color: #fff;
            padding: 2px 10px 3px;
        }
    }
    h2{
        font-size: 24px;
        color: #838383;
        font-family: 'robotobold';
        margin-bottom: 25px;
    }
    .ventasTable{        
        color:#545454;
        td{
            text-align: center;
            font-size: 16px;
        }
        td:nth-child(2){
            color:#fa627b;
        }
    }
    .calculationArea{
        h3{
            font-size: 20px;
            color: #6c6c6c;
            font-family: 'robotobold';            
            text-align: center;
            border-bottom: solid 1px #fc5a89;
            padding: 10px 0;
            margin-bottom: 15px;
        }
        .calcList{
            display:block;   
            @media screen and (max-width:414px) {
                padding:0;
            }        
            li{
                display:block;
                font-size: 16px;
                font-weight: bold;
                color: #a5a5a5;
                .form-group{
                    margin-bottom: 10px;
                }
                .smlInput{
                    width:40%;
                    background: #fff;
                    border:solid 1px #c8c8c8;
                    padding: 3px 5px;
                    display: inline-block;
                    border-radius: 0;
                    font-size: 14px;
                }
                .compliantTxt{
                    color:#fb617b;
                    padding: 0 25px;
                    display: inline-block;
                }
                .compliantAmt{                    
                    padding: 0 25px 0 0;
                    display: inline-block;
                    min-width: 65px;
                }
                .compliantRes{                    
                    padding: 0 25px;
                    display: inline-block;
                }
            }
        }
        .metors{
            display:block;  
            @media screen and (max-width:414px) {
                padding:0;
            }          
            li{
                display:block;
                font-size: 16px;
                font-weight: bold;
                color: #a5a5a5; 
                list-style: none;
                .form-group{
                    margin-bottom: 10px;
                }
                .smlInput{
                    width:40%;
                    background: #fff;
                    border:solid 1px #c8c8c8;
                    padding: 3px 5px;
                    display: inline-block;
                    border-radius: 0;
                    font-size: 14px;
                }
                .compliantTxt{
                    color:#fb617b;
                    padding: 0 25px;
                    display: inline-block;
                }
                .compliantAmt{                    
                    padding: 0 25px 0 0;
                    display: inline-block;
                    min-width: 65px;
                }
                .compliantRes{                    
                    padding: 0 25px;
                    display: inline-block;
                }
                .totalAmt{
                    border-top: solid 1px #cdcdcd;
                    padding: 10px 21% 10px 0;
                    text-align: right;
                    display: block;
                    margin-top: 21px;
                    @media screen and (max-width:414px) {
                        padding: 10px 10% 10px 0;
                    }
                }
                
            }
            li.finalAmt{
                border-top: solid 1px #cdcdcd;
                padding: 10px 16% 10px 0;
                text-align: right;
                display: block; 
                @media screen and (max-width:414px) {
                    padding: 10px 4% 10px 0;
                }               
            }
    }   }
    
}